version: "3.9"
services:
  backend:
    build: ../backend
    environment:
      - PORT=3000
      - WS_PORT=3001
    ports:
      - "3000:3000"
      - "3001:3001"

  frontend:
    build: ../frontend
    depends_on:
      - backend
    environment:
      - VITE_WS_URL=ws://localhost:3001
    ports:
      - "8080:4173"
